@import 'mixin.less';
@import 'Variables.less';

* {
    font-family: 'Merriweather', Times, serif;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }

.navbar-collapse.collapse {
    background-color: @primaryColor;
    text-align: center;
}
.navbar-header {
    background-color: @primaryColor;
}

.navbar.navbar-default.navbar-fixed-top a {
    color: @white;
     &:hover {color: @black;}    
}

#name {
    margin-top: 70px;
    text-align: center;  
}

#bold {
    font-weight: bold;
}

h2 {
    border-top: 1px solid @black;
    border-bottom: 1px solid @black;
    text-align: center;
    padding: 5px;
    
    a {
        color: @black;
         &:hover {color: @black; 
         text-decoration: none;}  
    }
}

.container {
    max-width: 65%;
}

.left {
    float: left;
    text-align: left;
    
}

.right {
    float: right;
   text-align: left;
}

.green {
    color: @primaryColor;
    font-style: italic;
    margin-left: 20px;
}

.indent {
    margin-left: 20px;
}

form {
    background-color: @primaryColor;
    border: 1px solid @greyColor;
    .roundedCorners;
    width: 65%;
    margin: 0 auto;
    text-align: center;
     div {
         margin-top: 15px;
        margin-bottom: 15px;
    }
    label {
    margin-right: 35%;
    color: @white;
    text-transform: uppercase;
    font-size: 12px;
}
input {
    width: 50%;
    border: solid 1px @greyColor;
    .roundedCorners;
    display: block;
    margin: 0 auto;
}
}

.big-form {
    height: 200px;
}

.contact-button {
    width: 50%;
    background-color: @white;
    border: 1px solid @greyColor;
    .roundedCorners;
    color: @primaryColor;
    font-size: 16px;
    font-weight: bold;
}

#footer {
    font-family: 'Algae Sans', 'Merriweather', 'Times New Roman', Times, serif;
    border-top: 1px solid @black;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    
    a {
        text-decoration: none;
        color: @black;
        padding: 10px;
        &:hover {color: @primaryColor;}
    }
}

