div {
    max-width: 65%;
    margin: 0 auto;
}

header {
    background-color: #a4c5cf;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

header ul li {
    display: inline;
}
header a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 20px;
}

header a:hover {
    color: black;
}

.name {
    margin-top: 100px;
    text-align: center;
}

.name h4 {
    margin-top: -25px;
}

h2 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;
}

.about {
    height: 300px;
}

.left {
    float: left;
    width: 35%;
    text-align: left;
    margin-left: 80px;
}

.right {
    float: right;
    width: 35%;
   text-align: left;
   margin-right: 80px;
}

.skills {
    height: 150px;
}


.projects h4 {
    margin-bottom: -18px;
    margin-left: 80px;
    margin-right: 80px;
}

.projects p {
    margin-left: 80px;
    margin-right: 80px;
}

.experience p {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: -22px;
    margin-bottom: 20px;
}

.experience h4 {
    margin-left: 70px;
    margin-right: 70px;
}

.green {
    color: #a4c5cf;
    font-style: italic;
}

.education {
    height: 180px;
}
.education p {
    margin-bottom: -20px;
    margin-left: 80px;
    margin-right: 80px;
}


form {
    background-color: #a4c5cf;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 65%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}

form div  {
    margin-top: 15px;
    margin-bottom: 15px;
}

input {
    display: block;
    margin: 0 auto;
}

label {
    position: relative;
    right: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
}

input {
    width: 250px;
    border: solid 1px #D3D3D3;
    border-radius: 5px;
}

.big-form {
    height: 200px;
}

button {
    width: 250px;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    color: #a4c5cf;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}

footer {
    border-top: 1px solid black;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

footer a:hover {
    color: #a4c5cf;
}

