* {
  font-family: 'Merriweather', Times, serif;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse.collapse {
  background-color: #a4c5cf;
  text-align: center;
}
.navbar-header {
  background-color: #a4c5cf;
}
.navbar.navbar-default.navbar-fixed-top a {
  color: #FFFFFF;
}
.navbar.navbar-default.navbar-fixed-top a:hover {
  color: #000000;
}
#name {
  margin-top: 70px;
  text-align: center;
}
#bold {
  font-weight: bold;
}
h2 {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
  padding: 5px;
}
h2 a {
  color: #000000;
}
h2 a:hover {
  color: #000000;
  text-decoration: none;
}
.container {
  max-width: 65%;
}
.left {
  float: left;
  text-align: left;
}
.right {
  float: right;
  text-align: left;
}
.green {
  color: #a4c5cf;
  font-style: italic;
  margin-left: 20px;
}
.indent {
  margin-left: 20px;
}
form {
  background-color: #a4c5cf;
  border: 1px solid #D3D3D3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
form div {
  margin-top: 15px;
  margin-bottom: 15px;
}
form label {
  margin-right: 35%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
}
form input {
  width: 50%;
  border: solid 1px #D3D3D3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.big-form {
  height: 200px;
}
.contact-button {
  width: 50%;
  background-color: #FFFFFF;
  border: 1px solid #D3D3D3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #a4c5cf;
  font-size: 16px;
  font-weight: bold;
}
#footer {
  font-family: 'Algae Sans', 'Merriweather', 'Times New Roman', Times, serif;
  border-top: 1px solid #000000;
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}
#footer a {
  text-decoration: none;
  color: #000000;
  padding: 10px;
}
#footer a:hover {
  color: #a4c5cf;
}
